.skills-container {
  height: 140dvh;
}

.skills-gap {
  gap: 25dvh;
}

.skills-blocken-gap {
  gap: 1.3rem;
  display: grid;
}

.ball {
  position: relative;
  cursor: pointer;
  width: clamp(45px, 10vw, 90px);
  height: clamp(45px, 10vw, 90px);
  border-radius: 50%;
  background-color: var(--white);
  border: 2px solid var(--black);
  z-index: 1;
  background-position: center;
  background-size: cover;
  transition: all 1s;
  padding: 0;
}
.ball.active {
  transition: all 2s;
  background-color: var(--white);
  box-shadow: 0 0 10px 5px rgb(255, 255, 255);
  z-index: 2;
}
.ball::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 0;
  border-radius: 50%;
  opacity: 0;
  background-color: var(--white);
  z-index: -2;
  transition: height 1s;
}
.ball.active::before {
  z-index: -2;
  background-color: var(--white);
  height: 15px;
  opacity: 1;
  transition: height 1s;
  cursor: auto;
}

#ball1 .ball.active::before {
  top: 90.5px;
}

#ball2 .ball::before {
  top: -20.5px;
}

#ball2 .ball.active::before {
  top: -20.5px;
}

@keyframes animation-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes animation-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.skills {
  position: relative;
  height: clamp(50px, 20vh, 500px);
  width: 100%;
  padding: 1rem 0;
}
.skills .skill {
  position: absolute;
  height: 100%;
  opacity: 0;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--darkGray);
  transition: all 1s;
  width: 100%;
}
.skills .skill p {
  margin: 0;
  padding: 0.5rem 0;
  display: flex;
  align-items: center;
}
.skills .skill h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  margin: 0;
}
.skills .skill.animation-out {
  animation: animation-out 0.5s;
}
.skills .skill.animation-in {
  animation: animation-in 0.5s;
}
.skills .skill .text-row {
  height: 25%;
  width: auto;
  padding: 0.5rem 1rem;
}
.skills .active {
  display: flex;
  transition: all 1s;
  opacity: 1;
}
.skills h1 {
  overflow: hidden;
  font-size: 2.5em;
}

#Skill {
  position: relative;
}
#Skill h1 {
  background-color: var(--black) !important;
  padding: 0 1rem 0 1rem;
  width: fit-content;
}
#Skill::before {
  content: "";
  position: absolute;
  width: 99.4dvw;
  left: -8dvw;
  top: 50%;
  height: 2px;
  background-color: var(--lightGray);
  z-index: -1;
}
#Skill::after {
  content: "";
  position: absolute;
  width: 40px;
  left: 53.04%;
  top: 21%;
  background-color: var(--black);
  height: 40px;
  border: 2px solid var(--lightGray);
  border-radius: 50%;
  z-index: -1;
}

@keyframes blobBackgroundTransition {
  0% {
    background-color: var(--black);
  }
  50% {
    background-color: var(--white);
  }
  100% {
    background-color: var(--black);
  }
}
.active {
  transform: translateX(0);
  transition: all 1s;
  opacity: 1;
}

.skill-flex {
  display: flex;
  flex-direction: row;
  gap: 1.2rem;
  padding: 0.5rem 1rem;
}

.project-details {
  background-color: var(--middleGray);
  border-radius: 10px;
  padding: 1rem;
}

/*# sourceMappingURL=Skills.css.map */
