.skills-container
    height: 140dvh

.skills-gap
    gap: 25dvh

.skills-tekst
    height: 25%
    width: 100%

.skills-blocken-gap
    gap: 1.3rem
    display: grid

@keyframes fadeIn
    0%
        opacity: 0
        display: none
    100%
        opacity: 1
        display: flex

@keyframes fadeOut
    0%
        opacity: 1
        display: flex
    100%
        opacity: 0
        display: none

.ball
    position: relative
    cursor: pointer
    width: clamp(45px, 10vw, 90px)
    height: clamp(45px, 10vw, 90px)
    border-radius: 50%
    background-color: var(--white)
    border: 2px solid var(--black)
    z-index: 1
    background-position: center
    background-size: cover
    transition: all 1s
    padding: 0
    &:hover
        scale: 1.1
        transition: all 1s
    &.active
        transition: all 2s
        background-color: var(--white)
        box-shadow: 0 0 10px 5px rgba(255, 255, 255, 1)
        z-index: 2
        &:hover
            scale: 1
            transition: all 1s
    &::before
        content: ''
        position: absolute
        left: 50%
        transform: translateX(-50%)
        width: 2px
        height: 0
        border-radius: 50%
        opacity: 0
        background-color: var(--white)
        z-index: -2
        transition: height 1s
    &.active::before
        z-index: -2
        background-color: var(--white)
        height: 15px
        opacity: 1
        transition: height 1s
        cursor: auto

#ball1 .ball.active::before
    top: 90.5px

#ball2 .ball::before
    top: -20.5px

#ball2 .ball.active::before
    top: -20.5px

.skills
    position: relative
    width: 100%
    padding: 0
    .skill
        display: none
        height: fit-content
        justify-content: center
        flex-direction: row
        align-items: center
        flex-wrap: wrap
        padding: 1rem
        opacity: 0
        border-radius: 10px
        background-color: var(--darkGray)
        transition: all 1s
        p
            margin: 0
            display: flex
            align-items: center
        h1
            display: flex
            justify-content: center
            align-items: center
            margin: 0
        .text-row
            height: 25%
            width: auto
            padding: 0.5rem 1rem
    .active
        transition: all 1s
        opacity: 1
        display: flex
    h1
        overflow: hidden
        font-size: 2.5em


#Skill
    position: relative
    h1
        background-color: var(--black)!important
        padding: 0 1rem 0 1rem
        width: fit-content
    &::before
        content: ''
        position: absolute
        width: 99.4dvw
        left: -8dvw
        top: 50%
        height: 2px
        background-color: var(--lightGray)
        z-index: -1
    &::after
        content: ''
        position: absolute
        width: 40px
        left: 53.04%
        top: 21%
        background-color: var(--black)
        height: 40px
        border: 2px solid var(--lightGray)
        border-radius: 50%
        z-index: -1

@keyframes blobBackgroundTransition
    0%
        background-color: var(--black)
    50%
        background-color: var(--white)
    100%
        background-color: var(--black)

.active
    transform: translateX(0)
    transition: all 1s
    opacity: 1

.languages
    display: flex
    flex-direction: row
    height: 55%
    gap: var(--gap)
    .language
        display: flex
        padding: 0 1rem
        background-color: var(--darkGray)
        border-radius: 5px

.skill.show
    display: flex
    animation: fadeIn 1s forwards

.skill.hide
    animation: fadeOut 1s forwards
    animation-fill-mode: forwards
    pointer-events: none


.skill-flex
    display: flex
    flex-direction: row
    gap: var(--gap)
    flex-wrap: wrap
    height: auto
    width: 100%

.project-details
    height: 100%
    cursor: pointer
    gap: 0.5rem
    flex: 1 1 auto
    max-width: 35%
    min-width: 15%
    background-color: var(--middleGray)
    border-radius: 10px
    padding: 1rem
    transition: all 0.5s ease
    &:hover
        transition: all 0.5s ease
        box-shadow: 0 0 10px 2.5px rgba(158, 158, 158, 1)
        svg
            transition: all 0.5s ease
            color: var(--lightGray)
            transform: translate(2px, -2px) scale(1.2)
    .title-flex
        display: flex
        flex-direction: row
        gap: 0.5rem
        align-items: baseline

    svg
        transition: all 0.5s ease


    //h2::after
    //    content: ''
    //    display: inline-block
    //    margin-left: 0.5rem
    //    margin-bottom: 0.2rem
    //    width: 10px
    //    height: 10px
    //    border: solid var(--white)
    //    border-width: 0 3px 3px 0
    //    transform: rotate(-45deg)

        color: var(--black)
